<h2>Task Details</h2>

<div class="my-2 p-4 bg-dark text-white rounded">    
    <div class="mb-3">
        <label for="taskId" class="form-label">Id</label>
        <input type="text" class="form-control" id="taskId" name="taskId" value="{{task.id}}" disabled>            
    </div>        

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" value="{{task.description}}" disabled>            
    </div>        

    <div class="mb-3">
        <label for="state" class="form-label">State</label>
        <input type="text" class="form-control" id="state" name="state" value="{{task.state}}" disabled>            
    </div>     
    <button class="btn btn-primary text-shadow" routerLink="tasks"><i class="bi bi-house-door-fill"></i> Home</button>   
</div>