<h2>Add Task</h2>

<div class="my-2 p-4 bg-dark text-white rounded">
    <!--
    <form (ngSubmit)="addTarea()">
    -->
    <form (ngSubmit)="emitNewTask()">    
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input [(ngModel)]="task.description" type="text" class="form-control" id="description" name="description" aria-describedby="descriptionHelp">
            <div id="descriptionHelp" class="form-text text-white">Add a task description</div>
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>        
    </form>
</div>

